[run]
plugins = Cython.Coverage
branch = True

[report]
show_missing = False
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
include =
    arkane/*
    rmgpy/*
omit =
    */test_data/*
    arkane/data/*

[html]
directory = htmlcov
