################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.so
*.pyd

# Temporary build files
build/*

# Compiled documentation
documentation/build/*

# Compilation helper files
# (These will be unique to each developer's setup)
make.inc

# Example output files
examples/*
!examples/*/input.py

# NetBeans project files
nbproject/*

# Eclipse project files
.project
.pydevproject
.settings/*

# Unit test files
.coverage
testing/*
htmlcov/*

# Quantum Mechanics temporary, cache, and result files
QMfiles/*

# Solver settings file
rmgpy/solver/settings.pxi