language: python
sudo: false
python:
  - "2.7"
virtualenv:
    system_site_packages: true
env:
  global:
    - secure: "L2ja+ZnV83w4qG3E8FwTjm0D6IWNOnj5wuFOjYTwbzQP4OAgLAWBzCMtxzWy5sMxFLtRgkswBH1d5f5kg8Ab7GIyAMFgQwe8UFqMJ+N05QNszE1mJkAvJtv2XN7669XXQhTt5EXfHrCcGZaODVnI2CEA8GB5DxiHO2Lcqf/xvgE="
    - secure: "Fa/qcHKKkTzgNanhgz+XWXg5K+uae5Ukxd0hfzYaiOI4+ldFbyMrYbPpxxoYVXw1SSO0psSupLfPfXzHwyJpFOyc46P+fo+R3YgNTJwr2VfdvSC0bp9K01nlRJ/z62IpMwmDwR2UH5xnfTeB9nhtzviFNKZoDZ/GR7F1Wqd/nnU="
addons:
  apt:
    packages:
    - git

before_install:
  # Set up anaconda
  - wget http://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p $HOME/miniconda
  - export PATH=$HOME/miniconda/bin:$PATH
  - export PYTHONPATH=$TRAVIS_BUILD_DIR/RMG-Py:$PYTHONPATH
  # Update conda itself
  - conda update --yes conda
  - cd ..
  - git clone https://github.com/ReactionMechanismGenerator/RMG-database.git
  - cd RMG-Py

install:
  - conda env create -f environment_linux.yml
  - source activate rmg_env
  - yes 'Yes' | $HOME/miniconda/envs/rmg_env/bin/mopac $MOPACKEY > /dev/null
  - make

script: 
  - make test
  - make test-database

after_success:
  - bash ./deploy.sh
