language: python
python:
  - "2.7"
virtualenv:
    system_site_packages: true
before_install:
  # Set up anaconda
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  # Update conda itself
  - conda update --yes conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm

  - sudo apt-get install git
  - cd ..
  - git clone https://github.com/ReactionMechanismGenerator/RMG-database.git
  - cd RMG-Py

install:
  - conda env create 
  - source activate rmg
  - make

script: 
  - make test
  - make eg1
