language: python
sudo: false
python:
  - "2.7"
virtualenv:
    system_site_packages: true
env:
  global:
    - secure: "L2ja+ZnV83w4qG3E8FwTjm0D6IWNOnj5wuFOjYTwbzQP4OAgLAWBzCMtxzWy5sMxFLtRgkswBH1d5f5kg8Ab7GIyAMFgQwe8UFqMJ+N05QNszE1mJkAvJtv2XN7669XXQhTt5EXfHrCcGZaODVnI2CEA8GB5DxiHO2Lcqf/xvgE="
    - ENCRYPTION_LABEL: 6df19ac2b23f
    - GIT_NAME: "RMG-dev"
    - GIT_EMAIL: "nickvandewiele@gmail.com"
addons:
  apt:
    packages:
    - git

before_install:
  # Set up anaconda
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  - export PYTHONPATH=$TRAVIS_BUILD_DIR/RMG-Py:$PYTHONPATH
  # Update conda itself
  - conda update --yes conda
  - cd ..
  - git clone https://github.com/ReactionMechanismGenerator/RMG-database.git
  - cd RMG-Py

install:
  - conda env create 
  - source activate rmg_env
  - make

script: 
  - bash ./deploy.sh
