name: rmg_env
channels:
  - defaults
  - rmg
  - conda-forge
  - cantera
dependencies:
  - cairo
  - cairocffi
  - cantera::cantera=2.6
  - conda-forge::cclib >=1.6.3
  - rmg::chemprop
  - coolprop
  - coverage
  - cython >=0.25.2
  - rmg::diffeqpy
  - ffmpeg
  - rmg::gprof2dot
  - graphviz
  - h5py
  - jinja2
  - jupyter
  - rmg::lpsolve55
  - markupsafe
  - matplotlib >=1.5
  - conda-forge::mopac
  - conda-forge::libgfortran-ng>=10.0
  - mpmath
  - rmg::muq2
  - networkx
  - nomkl
  - nose
  - rmg::numdifftools
  - numpy >=1.10.0
  - conda-forge::openbabel >= 3
  - pandas
  - psutil
  - rmg::pydas >=1.0.3
  - pydot
  - rmg::pydqed >=1.0.3
  - rmg::pyjulia
  - pymongo
  - pyparsing
  - rmg::pyrdl
  - rmg::pyrms
  - python >=3.7
  - pyyaml
  - rmg::quantities
  - rmg::rdkit >=2020.03.3.0
  - scikit-learn
  - scipy
  - rmg::symmetry
  - xlrd
  - xlwt
  - conda-forge::ncurses
