name: rmg_env
channels:
  - defaults
  - cantera
  - rmg
  - conda-forge
dependencies:
  - cairo
  - cairocffi
  - cantera::cantera >=2.3.0 # was previously RMG
  - conda-forge::cclib >=1.6.3
  - rmg::chemprop # change this to conda-forge in a future hackathon (fix the million bugs that will come up from chemprop have gone up a major release)
  - coolprop
  - coverage
  - cython >=0.25.2
  - rmg::diffeqpy # only on rmg
  - ffmpeg
  - conda-forge::gprof2dot # was previously RMG
  - graphviz
  - h5py
  - jinja2
  - jupyter
  - conda-forge::lpsolve55 # was previously RMG
  - markupsafe
  - matplotlib >=1.5
  - conda-forge::mopac # was previously RMG
  - mpmath
  - rmg::muq2 # only on RMG
  - networkx
  - nomkl
  - nose
  - conda-forge::numdifftools # was previously RMG, was recent
  - numpy >=1.10.0
  - conda-forge::openbabel >= 3
  - pandas
  - psutil
  - rmg::pydas >=1.0.2 # only RMG, internal
  - pydot
  - rmg::pydqed >=1.0.1 # only on RMG
  - rmg::pyjulia # only RMG, internal
  - pymongo
  - pyparsing
  - rmg::pyrdl # only on RMG
  - rmg::pyrms # internal
  - python >=3.7
  - pyyaml
  - conda-forge::quantities # was previously RMG
  - conda-forge::rdkit >=2020.03.3.0 # was previously RM
  - scikit-learn
  - scipy
  - rmg::symmetry # internal
  - xlrd
  - xlwt
  - conda-forge::libgfortran-ng
