name: rmg_env
channels:
  - defaults
  - rmg
dependencies:
  - mingwpy
  - python
  - numpy >=1.10.0
  - cython ==0.21
  - matplotlib
  - rdkit >=2015.09.2
  - quantities
  - scipy
  - xlwt
  - markupsafe
  - jinja2
  - pyparsing
  - pydas 
  - pydot
  - pydqed
  - nose
  - coverage
  - guppy
  - gprof2dot
  #- cairo
  #- cairocffi
  - openbabel
  - psutil
  - symmetry
  - mopac
  - graphviz
  - scoop
  - libgfortran ==1.0