# Required python packages. You can install them all via something like:
#    pip install -r requirements.txt

# Numpy must be fully installed before many of the other packages will install,
# So you may well have to do this one manually first, before using this requirements file.
numpy

scipy
matplotlib
cython>=0.19
quantities
guppy
psutil
xlwt
MarkupSafe # this makes Jinja2 faster
Jinja2 # this is for rendering the HTML output files
cairocffi

# For postprocessing the profiling data
argparse
#gprof2dot
git+https://github.com/jrfonseca/gprof2dot.git@bf25a2abb09b # (or newer)
pyparsing==1.5.7 # default pyparsing only works with Python3, 1.5.7 works on Python2.7. Pydot needs it.
pydot

# For running the unit tests
nose
coverage

# for generating the documentation
Sphinx


