# Required python packages. You can install them all via something like:
#    pip install -r requirements.txt

# Numpy must be fully installed before many of the other packages will install,
# So you may well have to do this one manually first, before using this requirements file.
numpy

scipy
matplotlib
cython>=0.19
quantities
psutil
pandas
xlwt
MarkupSafe # this makes Jinja2 faster
Jinja2 # this is for rendering the HTML output files
cairocffi
yaml
cclib # needs to be 1.6.1.rmg
h5py

# For postprocessing the profiling data
argparse
#gprof2dot
git+https://github.com/jrfonseca/gprof2dot.git@bf25a2abb09b # (or newer)
pyparsing==1.5.7 # default pyparsing only works with Python3, 1.5.7 works on Python2.7. Pydot needs it.
pydot

# For running the unit tests
nose
coverage

# for generating the documentation
Sphinx

# For unit tests
mock

# Other required packages which are not available via pip:
# lpsolve - Download from https://sourceforge.net/projects/lpsolve/
#           Instructions for python interface: http://lpsolve.sourceforge.net/5.5/Python.htm
# RingDecomposerLib - Download from https://github.com/rareylab/RingDecomposerLib
