################################################################################
#
#   Files for git to ignore
#
################################################################################

# Compiled documentation
documentation/build/*

# Temporary build files
build/*

# Compiled Python modules
*.pyc
*.so
*.pyd

# Compilation helper files
# (These will be unique to each developer's setup)
make.inc
