################################################################################
#
#   Files for git to ignore
#
################################################################################

# Compiled Python files
*.pyc

# Compiled documentation
documentation/build/*

