
img#fluxdiagram {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

table.sitemap {
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
}

div.figure#fluxdiagram {
	margin: auto;
	max-width: 600px
}


table.sitemap tbody tr td h3 {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
}

table.sitemap tbody tr td {
	vertical-align: top;
}

table.sitemap li {
	text-align: left;
}

#mailinglist form input.textinput {
	width:  100%;
}

