################################################################################
#
#   Files for git to ignore
#
################################################################################

# Compiled documentation
build/*

