name: CI Tests

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 8 * * 1-5"
  push:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review, review_requested]
jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    env: # update this if needed to match a pull request on the RMG-database
      RMG_DATABASE_BRANCH: main
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Mambaforge Python 3.7
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: environment.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          python-version: 3.7
          activate-environment: rmg_env
          use-mamba: true
      - name: Install codecov
        run: mamba install -y -c conda-forge codecov
      - name: mamba info
        run: |
          mamba info
          mamba list
      - name: Install and link Julia dependencies
        run: |
          julia -e "using Pkg; Pkg.add(PackageSpec(url=\"https://github.com/ReactionMechanismGenerator/ReactionMechanismSimulator.jl\", rev=\"main\"))"
          julia -e "using Pkg; Pkg.add(\"PyCall\"); Pkg.add(\"DifferentialEquations\")"
          python -c "import julia; julia.install()"
          ln -sfn $(which python-jl) $(which python)
      - name: Install MOPAC
        env:
          MOPACKEY: ${{ secrets.MOPACKEY }}
        timeout-minutes: 1
        continue-on-error: true # allowed to fail on pull request from a forked repository
        run: |
          set +o pipefail
          yes 'Yes' | ${CONDA_PREFIX}/bin/mopac "$MOPACKEY"
      - name: Install and compile RMG
        run: |
          cd ..
          git clone -b $RMG_DATABASE_BRANCH https://github.com/ReactionMechanismGenerator/RMG-database.git
          cd RMG-Py
          git clone -b arkanepy3 https://github.com/mjohnson541/Q2DTor.git external/Q2DTor
          make
      - name: Trigger RMG-tests
        if: ${{ github.event_name == 'push' && github.ref != 'refs/heads/main' && github.ref != 'refs/heads/stable' }} # only push events to branches other than main and stable
        env:
          GH_TOKEN: ${{ secrets.RMG_DEV_TOKEN }}
        run: ./trigger-rmg-tests.sh
      - name: Unit tests
        run: make test-unittests
      - name: Functional tests
        if: ${{ success() || failure() }} # Run even if the unit tests failed (but not if they were cancelled)
        run: make test-functional
      - name: Database tests
        if: ${{ success() || failure() }} # Run even if the functional tests failed (but not if they were cancelled)
        run: make test-database
      - name: Code coverage
        run: codecov
